:root {
    --primary-color: #0058be;
    --surface-color: #f7f9fb;
    --on-surface-variant: #424754;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--surface-color);
    color: #191c1e;
}

.navbar-custom {
    background-color: rgba(247, 249, 251, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #c2c6d6;
}


.nav-link-custom {
    text-decoration: none;
    color: var(--on-surface-variant);
    text-decoration: none;
    transition: 0.3s;
}

.nav-link-custom:hover,
.nav-link-custom.active {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

main {
    padding-top: 200px;
}

.name {
    color: var(--on-surface-variant);
}
.jurusan {
    color: var(--primary-color);
}
.desc {
    width: 500px;
    border-left: 3px solid #c2c6d6;
    padding-left: 30px;
}

.experience {
    padding: 100px;
    background-color: rgba(201, 201, 201, 0.137);
}

.experience h3 {
    color: var(--primary-color);
}

.card-custom {
    height: 30vw;
}